*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: whitesmoke;
}
.form .input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form .input.line{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}